/* 27. Counter CSS  */
@use "./variables" as *;
.single-counter-box {
  text-align: center;
  min-height: 150px;
  padding: 30px 18px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  @media #{$xs} {
    text-align: center;
  }

  p.counter-number {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0;
    color: #171717;
    border-bottom: 0;
    display: inline-block;
    margin-bottom: 18px;

    @media #{$lg} {
      font-size: 50px;
    }

    @media #{$md} {
      font-size: 42px;
    }

    @media #{$xs} {
      font-size: 40px;
    }

    span {
      font-size: inherit;
      @media #{$lg} {
        font-size: inherit;
      }

      @media #{$md} {
        font-size: inherit;
      }

      @media #{$xs} {
        font-size: inherit;
      }
    }
  }

  span {
    font-size: 40px;
    margin-left: 10px;
    @media #{$xs} {
      margin-left: 0;
    }
  }

  h6 {
    font-size: 15px;
    font-weight: 400;
    color: #7f7f7f;
    line-height: 1.4;

    @media #{$xs} {
      font-size: 17px;
      margin-top: 10px;
    }
  }
}

p.counter-number span.operator {
  font-size: 30px !important;
  color: #555;
}
