/* 32. Breadcrumb 
-----------------*/

// breadcrumb bg
@use "./variables" as *;
.breadcrumb-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_servicios.jpg);
}

.breadcrumb-bg.about-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_about.jpg);
}

.breadcrumb-bg.service-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_servicios.jpg);
}

.breadcrumb-bg.team-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_equipo.jpeg);
}

.breadcrumb-bg.price-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_pricing.jpg);
}

.breadcrumb-bg.testimonial-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_testimonios.jpg);
}

.breadcrumb-bg.process-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_process.jpg);
}

.breadcrumb-bg.project-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_proyectos.jpg);
}

.breadcrumb-bg.blog-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_blog.jpg);
}

.breadcrumb-bg.contact-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_contact.jpg);
}

.breadcrumb-bg {
  background-image: url(/ESTRUCTURA/breadcrumb_contact.jpg);
  height: 480px;
  background-size: cover;
  background-position: center bottom;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  .breadcrumb-title {
    position: relative;
    z-index: 999;
  }

  & .breadcrumb-title h1 {
    font-size: 65px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
    margin: 0;

    @media #{$md} {
      font-size: 50px;
    }

    @media #{$sm} {
      font-size: 40px;
    }

    @media #{$xs} {
      font-size: 40px;
    }
  }
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item a {
  color: #a39d9d;
  font-size: 17px;
}

.breadcrumb-item.active {
  color: #333;
  font-size: 17px;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #a39d9d !important;
}

.breadcrumb-bg h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15px;
}

.breadcrumb-bg.white-bg {
  padding-top: 60px;
  h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  i {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }
}
